:root {
  font-family: system-ui, Poppins, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --grayscale-primary: rgba(51, 51, 51, 1);
  --grayscale-secondary: rgba(156, 156, 156, 1);
  --grayscale-light: rgba(217, 217, 217, 1);
  --grayscale-border: rgba(60, 60, 60, 1);
  --blue-primary: rgba(44, 56, 120, 1);
  --blue-secondary: oklch(from var(--blue-primary) 0.7 c h);
  --blue-primary-hovered: hsl(from var(--blue-primary) h s calc(l + 10));
  --white: rgba(255, 255, 255, 1);
}

a {
  font-weight: 400;
  color: var(--grayscale-primary);
  text-decoration: inherit;
  cursor: pointer;
}
a:hover {
  text-decoration: underline;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
